### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data_df["SN"].nunique()

summary_df = pd.DataFrame({"Total Players": [total_players]})
summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data_df["Item ID"].nunique()
average_price = purchase_data_df["Price"].mean()
purchases = purchase_data_df["Purchase ID"].count()
revenue = purchase_data_df["Price"].sum()

In [4]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price],
                          "Number of Purchases": [purchases], "Total Revenue": [revenue]})

#.astype(float).map("${:.2f}".format)
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
purchase_gender = purchase_data_df.groupby(["Gender"])
purchase_comparison_df = purchase_gender.nunique()
purchase_comparison_df["Percentage of Players"] = (purchase_comparison_df.SN/purchase_comparison_df.SN.sum() * 100)
purchase_comparison_df = purchase_comparison_df.rename(columns ={"SN": "Total Count"})
purchase_comparison_df = purchase_comparison_df[["Total Count", "Percentage of Players"]]
purchase_comparison_df = purchase_comparison_df.sort_values("Total Count", ascending=False)
purchase_comparison_df["Percentage of Players"] = purchase_comparison_df["Percentage of Players"].map("{:.2f}%".format)
purchase_comparison_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
purchase_gender_df = purchase_data_df.groupby(["Gender"])
purchase_gender_df = purchase_gender_df.nunique()
purchase_gender_df

In [ ]:
purchase_price_df = purchase_data_df.groupby(["Gender"])
purchase_price_df = purchase_price_df.mean()
purchase_price_df

In [ ]:
purchase_total_df = purchase_data_df.groupby(["Gender"])
purchase_total_df = purchase_total_df.sum()
purchase_total_df

In [26]:
purchase_total_df = purchase_data_df.groupby(["Gender"]).agg({"Purchase ID": 'count', "Price": ['mean', 'sum']})

purchase_total_df

                      Purchase ID     Price
                            count      mean      sum
Gender
Female                        113  3.203009   361.94
Male                          652  3.017853  1967.64
Other / Non-Disclosed          15  3.346000    50.19

In [41]:
purchase_total_df = purchase_total_df.rename(columns ={"Purchase ID": "Purchase Count", 
                                                       "sum": "Total Purchase Value",
                                                     "Price": "Average Purchase Price", "count": "", "mean": ""})

purchase_total_df

                      Purchase Count Average Purchase Price  \

Gender
Female                           113               3.203009
Male                             652               3.017853
Other / Non-Disclosed             15               3.346000


                      Total Purchase Value
Gender
Female                              361.94
Male                               1967.64
Other / Non-Disclosed                50.19

In [42]:
purchase_total_df.dtypes

Purchase Count                                    int64
Average Purchase Price                          float64
                        Total Purchase Value    float64
dtype: object

In [43]:

# purchase_total_df["Avg Total Purchase per Person"] = purchase_total_df['Total Purchase Value'] /\
#                                                     purchase_total_df['Purchase Count']

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
print(purchase_data_df["Age"].max())
print(purchase_data_df["Age"].min())

45
7

In [58]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]

# Create labels for these bins
age_groups = ["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29","30 to 34", "35 to 39", "40+" ]
pd.cut(purchase_data_df["Age"], bins, labels=age_groups).head()

0    15 to 19
1    35 to 39
2    20 to 24
3    20 to 24
4    20 to 24
Name: Age, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40+]

In [59]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=age_groups)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15 to 19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35 to 39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15 to 19
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [60]:
# #Create a GroupBy object based upon "Age"
# age_group = purchase_data_df.groupby("Age")

# # Find how many rows fall into each bin
# print(age_group["Purchase ID"].count())

# Get the average of each column within the GroupBy object
age_group = purchase_data_df.groupby(["Age Group"]).agg({"SN": 'count', "Price": ['mean', 'sum']})
age_group

             SN     Price
          count      mean     sum
Age Group
<10          32  3.405000  108.96
10 to 14     54  2.900000  156.60
15 to 19    200  3.107800  621.56
20 to 24    325  3.020431  981.64
25 to 29     77  2.875584  221.42
30 to 34     52  2.994423  155.71
35 to 39     33  3.404545  112.35
40+           7  3.075714   21.53

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame