### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data_df["SN"].nunique()

summary_df = pd.DataFrame({"Total Players": [total_players]})
summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data_df["Item ID"].nunique()
average_price = purchase_data_df["Price"].mean()
purchases = purchase_data_df["Purchase ID"].count()
revenue = purchase_data_df["Price"].sum()

In [106]:
purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price],
                          "Number of Purchases": [purchases], "Total Revenue": [revenue]})

#.astype(float).map("${:.2f}".format)
purchase_analysis.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [115]:
purchase_gender_df = purchase_data_df.groupby(["Gender"])
total_gender = purchase_gender_df.nunique()["SN"]
gen_percent_players = total_gender / total_players * 100
gender_dem = pd.DataFrame({"Total Count": total_gender, "Percentage of Players": gen_percent_players})
gender_dem.sort_values("Total Count", ascending=False).style.format({"Percentage of Players":"{:.2f}%"})

In [116]:
gen_purchase_count = purchase_gender_df["Purchase ID"].count()
gen_avg_purchase = purchase_gender_df["Price"].mean()
gen_total_purchase = purchase_gender_df["Price"].sum()
gen_avg_per_person = gen_total_purchase / total_gender
gender_dem = pd.DataFrame({"Purchase Count": gen_purchase_count, 
                                    "Average Purchase Price": gen_avg_purchase,
                                    "Average Purchase Value": gen_total_purchase,
                                    "Avg Purchase Total per Person": gen_avg_per_person})
gender_dem.style.format({"Avg Purchase Total per Person": "${:.2f}", "Average Purchase Value": "${:.2f}",
                            "Average Purchase Price": "${:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [44]:
print(purchase_data_df["Age"].max())
print(purchase_data_df["Age"].min())

45
7

In [111]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create labels for these bins
age_groups = ["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29","30 to 34", "35 to 39", "40+" ]
pd.cut(purchase_data_df["Age"], bins, labels=age_groups).head()

0    20 to 24
1         40+
2    20 to 24
3    20 to 24
4    20 to 24
Name: Age, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40+]

In [112]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=age_groups)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [117]:
age_group_df = purchase_data_df.groupby(["Age Group"])
total_age = age_group_df.nunique()["SN"]
percentage_age = total_age / total_players * 100
age_df = pd.DataFrame({"Total Count": total_age, 
                                    "Percentage of Players": percentage_age})
age_df.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
age_purchase_count = age_group_df["Purchase ID"].count()
age_avg_purchase_total = age_group_df["Price"].sum()
age_avg_price = age_group_df["Price"].mean()
age_avg_purchase_price = age_avg_purchase_total / total_age
age_avg_df = pd.DataFrame({"Purchase Count": age_purchase_count, 
                                    "Average Purchase Price": age_avg_price, 
                                    "Total Purchase Value": age_avg_purchase_total, 
                                    "Avg Total Purchase per Person": age_avg_purchase_price})
age_avg_df.style.format({"Average Purchase Price": "${:.2f}", })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame